/*********** 
GENERAL 
***********/

body {
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 0;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto 30px auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
  	padding: 10px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	border-bottom: solid;
  	border-bottom-color: #ccc;
  	border-top: solid;
  	border-top-color: #ccc;
  	border-top-left-radius: .5em;
  	border-top-right-radius: .5em;
  	border-bottom-left-radius: .5em;
  	border-bottom-right-radius: .5em;
 
}

img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

/*********** 
HEADING 
***********/

header {
	float: left;
	padding: 5px 0 0 0;
	margin: 0 0 30px 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: "Open Sans", sans-serif;
	margin: 20px 0;
	font-size: 2.00em;
	font-weight: normal;
	line-height: 1.0em;
	letter-spacing: 2px;
}

h2, h3, h4 {
	font-family: "Open Sans", sans-serif;
	margin: -5px 0 0px 0;
	font-size: .85em;
	font-weight: normal;
	letter-spacing: 1px;
	display: inline-block;

}


h3 {
  float: left;
}

h2 {
  display: inline-block;
  clear:both;
}

h4 {
  float: right;
  display: inline;
}


h2, h3, h4 {
  width: 40%;
  height: 60px;
  margin: 0;
  padding: 0;
  display: inline; 
}

/*********** 
NAVIGATION
***********/

nav {
	text-align: center;
	padding: 10px 0 -100px 0;
	margin: 30px 0 -200px 0;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: -25px 5px;
  display: inline-block;
}

nav li {
	display: inline-block;
	width: 120px;
}

nav a {
	font-weight: 100px;
	padding: 15px 10px;
	letter-spacing: 1px;
  
}


/*********** 
FOOTER
***********/


footer {
	font-size: 0.75em;
  	display: block;
  	margin-left:auto;
  	margin-right:auto;
	text-align: center;
	clear: both;
}

footer p {
	padding: 0;
	margin: 0;
}

.social-icon {
	width: 22px;
	height: 22px;
	padding: 0;
	margin: 5px 5px 0px 5px;
    float: right;
  
}



/*********** 
HOME
***********/

#home {
	margin: 0;
	padding: 0;
	list-style: none;
}

#home a p {
	padding: 5%;
	margin: 0;
	font-size: 0.75em;
}

/*********** 
COLORS
***********/

/* site body */
body {
	background-color: #FFFFFF
}

/* header */
header {
	background: #fff;
  	border-style: none;
	border-color: #949;
}

/* logo text */
h1, h2 {
	color: #000;
}

/* nav */
nav {
	background-color: #fff;
  	border-style: solid none;
  	border-bottom-left-radius: 0.5em;
  	border-top-left-radius: 0.5em;
  	border-bottom-right-radius: 0.5em;
  	border-top-right-radius: 0.5em;
  	border-color: #ccc;
  
}

/* links */
a {
	color: #000;
}

/* nav links */
nav a, nav a:visited {
	color: #000;
}

/* selected nav links */
nav a.selected, nav a:hover {
	color: #808080;
	width: 110px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
	border-style: none solid;
  	border-bottom-left-radius: 1em;
  	border-top-left-radius: 1em;
  	border-bottom-right-radius: 1em;
  	border-top-right-radius: 1em;
	border-color: #ccc;
  	padding: 2px;
}

footer a {
	color: #000;
	text-decoration: underline;
   padding: 0;
}

/** Borders **/

body {
margin: 10px;
padding: 20px;
border: 2px solid #ccc;
}